body {
	height: auto;
	padding: 50px;
	font-family: sans-serif;
	background: #1e4542;
}
.b-shooter {
    background-image: url(../img/cemeterycartoonbackground.jpg);
	background-size: cover;
    height: 700px;
    width: 935px;
    margin: auto;
    position: relative;
    cursor: pointer;
}
.b-shooter__aim {
    height: 100px;
    width: 100px;
    left: 0;
    top: 0;
	position: absolute;
    pointer-events: none;
    transform: translate(300px, 200px);
    transition: transform .1s linear;
}
