  
body {
    background:#e9af01;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    padding-top: 50px;
}
._color-schemie-light {
    background: #f9f9f9;
}
._color-schemie-light .l-tasks__btn {
  background-color: #555354;
  color:#fff;
}
._color-schemie-light  .b-tasks {
  background-color: #d3af56;
  color:#000;
}
.b-tasks {
  box-shadow: 3px 5px 15px #000;
    background: #9a2837;
    padding: 0 20px;
    box-sizing: border-box;
    color: #fff;
    max-width: 500px;
    margin: auto;
}
li {
  padding:15px 0;
}
.l-tasks__btn {
  background-color: #c4c4c4;
  font-size: 15px;
  color:#9a2837;
  padding: 10px;
}
.l-tasks__btn._remove {
  margin-top: 15px;
}
.l-tasks__inner {
  font-style: italic;
}
.l-tasks__item:nth-child(2) {
border-style: dashed none;
border-color: #c4c4c4;
}